.container{
    background-color: rgba(241, 51, 51, 0.685);
    display: inline-block;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgb(112, 0, 0);
}

.boton{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(241, 49, 49, 0.952);
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 8px;
}

.search{
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}